.container div:nth-child(1) {
    background-color: White;
    border: 1px black solid;
    height: 20px;
    order: 1;
    padding: 5px;
    margin: 5px;
}

.container div:nth-child(2) {
    background-color: pink;
    border: 1px black solid;
    height: 20px;
    order: 2;
    padding: 5px;
    margin: 5px;
    /* flex-shrink: 10; */
}

.container div:nth-child(3) {
    background-color: lightgreen;
    border: 1px black solid;
    height: 20px;
    order: 3;
    padding: 5px;
    margin: 5px;
    /*flex-grow: 3;*/
}

.container div:nth-child(4) {
    background-color: lightblue;
    border: 1px black solid;
    height: 20px;
    order: 34;
    padding: 5px;
    margin: 5px;
    /*flex-grow: 3;*/
}

.container div {
    /* width: 10px;
    padding: 10px;
    margin: 10px; */
    color: Black;
    text-align: center;
    font-size: 15pt;
    /*font-weight: bolder;*/

}

.container {
    /* height: 10; */
    display: flex;
    margin: 0px;
    
    /*justify-content: space-between;*/
    align-content: flex-start;
    /* align-items: baseline; */
    /*flex-direction: column-reverse;*/
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    /* justify-content: space-between, space-around, space-evenly */
}

.container2 {
    display: flex;
    align-content: flex-start;
    
    padding: 5px;
    margin: 5px;
}

.container2 div {
    /* width: 10px;
    padding: 10px;
    margin: 10px; */
    border: 1px black solid;
    text-align: center;
    font-size: 15pt;
    /*font-weight: bolder;*/

}
table, td, tr, th, caption {
    border: 1px black solid;
    padding: 5px;
    margin: 5px;
}