<script src="./app/app.component.js"></script>

<div class="container">
  <div><a href="./app.component.html">Home</a></div>
  <div><a href="./theMath.html">The Math</a></div>
  <div><a href="./techUsed.html">Tech Used</a></div>

</div>

<div class="container2">
  <table class= "table ">
    <caption>Player Character Stats</caption>
    <thead>
        <tr>
            <th class="text-center">Armor Type</th>
            <th class="text-center">Defense</th>
            <th class="text-center">Fire Resistence</th>
            <th class="text-center">Water Resistence</th>
            <th class="text-center">Thunder Resistence</th>
            <th class="text-center">Ice Resistence</th>
            <th class="text-center">Dragon Resistence</th>
        </tr>
    </thead>
    <tbody id="table-armor">
      <tr>
          <th scope="col">Head</th>
          <td><input id="hd" type="number"></td>
          <td><input id="hf" type="number"></td>
          <td><input id="hw" type="number"></td>
          <td><input id="ht" type="number"></td>
          <td><input id="hi" type="number"></td>
          <td><input id="hdr" type="number"></td>
          
      </tr>
      <tr>
          <th scope="col">Body</th>
          <td><input id="bd" type="number"></td>
          <td><input id="bf" type="number"></td>
          <td><input id="bw" type="number"></td>
          <td><input id="bt" type="number"></td>
          <td><input id="bi" type="number"></td>
          <td><input id="bdr" type="number"></td>
      </tr>
      <tr>
          <th scope="col">Arms</th>
          <td><input id="ad" type="number"></td>
          <td><input id="af" type="number"></td>
          <td><input id="aw" type="number"></td>
          <td><input id="at" type="number"></td>
          <td><input id="ai" type="number"></td>
          <td><input id="adr" type="number"></td>
      </tr>
      <tr>
          <th scope="col">Waist</th>
          <td><input id="wd" type="number"></td>
          <td><input id="wf" type="number"></td>
          <td><input id="ww" type="number"></td>
          <td><input id="wt" type="number"></td>
          <td><input id="wi" type="number"></td>
          <td><input id="wdr" type="number"></td>
      </tr>
      <tr>
          <th scope="col">Legs</th>
          <td><input id="ld" type="number"></td>
          <td><input id="lf" type="number"></td>
          <td><input id="lw" type="number"></td>
          <td><input id="lt" type="number"></td>
          <td><input id="li" type="number"></td>
          <td><input id="ldr" type="number"></td>
      </tr>
    </tbody>
</table>
</div>

<div class="container3">
  <table class= "table ">
    <caption>Monster Damage Stats</caption>
    <thead>
        <tr>
            <th class="text-center">Non Elemental Attack</th>
            <th class="text-center">Fire Attack</th>
            <th class="text-center">Water Attack</th>
            <th class="text-center">Thunder Attack</th>
            <th class="text-center">Ice Attack</th>
            <th class="text-center">Dragon Attack</th>
        </tr>
    </thead>
    <tbody id="table-monster">
        <td><input id="n" type="number"></td>
        <td><input id="f" type="number"></td>
        <td><input id="w" type="number"></td>
        <td><input id="t" type="number"></td>
        <td><input id="i" type="number"></td>
        <td><input id="d" type="number"></td>
    </tbody>
</table>
</div>

<div class="container4">
    <table class= "table ">
      <caption>Damage Taken</caption>
      <thead>
          <tr>
              <th class="text-center">Result Type</th>
              <th class="text-center">Non Elemental Attack</th>
              <th class="text-center">Fire Attack</th>
              <th class="text-center">Water Attack</th>
              <th class="text-center">Thunder Attack</th>
              <th class="text-center">Ice Attack</th>
              <th class="text-center">Dragon Attack</th>
          </tr>
      </thead>
      <tbody id="table-armor">
          <tr>
              <th scope="col">Damage Taken From Monster</th>
              <td><span id="dr" ></span></td>
              <td><span id="fr" ></span></td>
              <td><span id="wr" ></span></td>
              <td><span id="tr" ></span></td>
              <td><span id="ir" ></span></td>
              <td><span id="drr" ></span></td>
          </tr>
          <tr>
              <th scope="col">Percent Damage Blocked</th>
              <td><span id="dp" ></span></td>
              <td><span id="fp" ></span></td>
              <td><span id="wp" ></span></td>
              <td><span id="tp" ></span></td>
              <td><span id="ip" ></span></td>
              <td><span id="drp" ></span></td>
          </tr>
        </tbody>
  </table>
  </div>

<button onclick="compute()">Produce Results</button>