<div class="container">
        <div><a href="./app.component.html">Home</a></div>
        <div><a href="./theMath.html">The Math</a></div>
        <div><a href="./techUsed.html">Tech Used</a></div>
      
</div>

<div class="container2">
        <h1>Tech Used to make this website.</h1>
        <p>I used CSS, HTML, Angular, and Typescript.</p>
    </div>