
<div class="container">
  <div><a href="./app.component.html">Home</a></div>
  <div><a href="./theMath.html">The Math</a></div>
  <div><a href="./techUsed.html">Tech Used</a></div>

</div>

<div class="container2">
    <h1>The math behind the table</h1>
    <p>How raw defense is calculated is ((80/(80+defense))*100) = the % damage taken.</p>
    <p>An example would be if you have 30 defense. It would be ((80/110) *100) = 73% damage taken. 
        So 27% was blocked.
    </p>
    <p>Now we have to calculate if it is a elemental attack. 
        That equation is ((80/(80+defense))*(1-(elemental resistance/100)))= the % damage taken.
    </p>
    <p>An example of this would be if I have a defense of 40 and a fire resistance of 10. (80/120)*(1-(10/100) =
        60% damage taken. So 40% was blocked.
    </p>
    <p>This also takes in to account negative resistance. Some armor pieces make you weak to certain types of damage.
        This example would be a defense of 40 and a fire resistance of -10. (80/120)*(1-(-10/100)) = 66% damage 
        taken. So 34% was blocked. 
    </p>
</div>