body{
    background_color: #CCCCCC;
}

ul {
    list-style-type: none;
}

ul li {
    background-color: #6D7E8F;
    padding: 10px;
    margin: 25px;
    border: 2px solid black;
    /*
    border is a shorter version of what is below this.
    border-style: solid;
    border-color: black;
    border-width: 2px;
    */
}

a{
    color: rgb(113, 0, 136);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 0, 70);
}


/* 
* all elements - everything
. means class 
nothing means tag selector
[] means attribute selector
# means id selector
: pseudo class selector
*/