.container div:nth-child(1) {
    background-color: brown;
    height: 50px;
    order: 5;
    /* padding: 50px; */
}

.container div:nth-child(2) {
    background-color: pink;
    height: 20px;
    order: 4;
    flex-shrink: 10;
}

.container div:nth-child(3) {
    background-color: green;
    height: 150px;
    order: 8;
    flex-grow: 3;
}

.container div:nth-child(4) {
    background-color: blue;
    height: 100px;
}

.container div:nth-child(5) {
    background-color: purple;
    height: 75px;
}

.container div:nth-child(6) {
    background-color: orange;
    height: 200px;
    order: -1;
}

.container div {
    width: 150px;
    padding: 10px;
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 50pt;
    font-weight: bolder;

}

.container {
    height: 400;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    /* align-items: baseline; */
    /*flex-direction: column-reverse;*/
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    /* justify-content: space-between, space-around, space-evenly */
}