.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(0,140,255);
    padding: 10px;
    grid-column-gap:10px;
    grid-row-gap: 10px;
}

.item {
    background-color: rgba(255,255,255,0.8);
    border: 1px solid rgba(0,0,0,0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.one {
    grid-column: 1/3;
    grid-row: 2/5;
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    /* grid-row-start: 1; */
    /* grid-row-end: 3; */
}

.two {
    grid-column: 2/4;
    grid-row: 1/3;
}